*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.green-btn{
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
}

.transparent-btn{
    background-color: transparent;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
    border: 1px solid white;
    border-radius: 4px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    /* border: 1px solid red; */
}

.navbar .nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    list-style: none;
    text-decoration: none;
}

.nav-list li a{
    text-decoration: none;
    font-size: 16px;
    line-height: 125%;
    color: #000000;
}

#banner{
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    /* vertical-align: middle; */
    max-width: 1600px;
    height: auto;
    padding: 115.5px 120px 179px;
}

#banner .banner-content{
    text-align: center;
    max-width: 800px;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.early-ac-btn{
    background-color: #FFFFFF;
    color: #30B868;
    font-size: 16px;
    max-width: fit-content;
    padding: 8px 12px 8px 34px;
    border: none;
    border-radius: 1000px;
    margin-bottom: 16px;
}

.banner-content .upper-h1{
    font-size: 65px;
    color: #FFFFFF;
    font-weight: 900
}

.banner-content .bottom-h1{
    font-size: 65px;
    color: #30B868;
    font-weight: bolder;
    margin-bottom: 16px;
}

.banner-content p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.banner-content .banner-button{
    gap: 16px;
}

#notes .notes-container{
    margin: 0 auto;
    /* border: 1px solid red; */
    width: 85%;
    max-width: 1360px;
}

.notes-container .notes-writtenpart{
    margin-top: 60px;
    text-align: center;
}

.notes-writtenpart h1{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.notes-writtenpart p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}

.notes-container .notes-card{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.notes-card .card-info{
    padding: 69.5px 24px;
    text-align: center;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 #00000014;
}

.bg-circle {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    margin: 0 auto;
}

.bg-circle img{
    max-width: 32px;
    height: auto;
}
.card-info h3{
    font-size: 24px;
    color: #001931;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
}

.card-info p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

#brain{
    /* max-width: 1600px; */
    padding: 120px;
    margin: 0 auto;
}

#brain .brain-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    width: 85%;
    max-width: 1360px;
    /* border: 1px solid red; */
}

.brain-content .brain-img img{
    width: 600px;
}

.brain-written .upper-p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #30B868;
    margin-bottom: 16px;
}

.brain-written .upper-h1{
    font-size: 48px;
    color: #001931;
}

.brain-written .bottom-h1{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.brain-written .bottom-p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.brain-written ul {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
}

.brain-written ul li{
    font-weight: 500;
    color: #001931;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
}

#think{
    padding-top: 0;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 120px;
}

#think .think-container{
    padding: 80px 40px;
    margin: 0 auto;
    background-color: #F7F6F2;
}

.think-written{
    width: 85%;
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;
}

.think-written h1{
    font-size: 40px;
    color: #001931;
    margin-bottom: 16px;
}

.think-written p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
}

.think-written .tm-p{
    margin-bottom: 16px;
}

.think-written .tl-p{
    margin-top: 16px;
}

footer{
    background-color: #001931;
    padding: 120px 120px 30px;
}

.logo-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.logo-link p{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social-link a{
    margin-right: 16px;
}

.footer-content span{
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
}

.footer-content .copyright{
    margin-top: 30px;
    text-align: center;
}